:root {
  --primary-font-family: "Alumni Sans", sans-serif;
  --primary-font-color: #142d4c;
  --secondary-font-color: #385170;
  --decoration-color: #9fd3c7;
}

body {
  background-color: #ececec;
}

.corner-frame {
  position: sticky;
  top: 12px;
  left: 12px;
  width: 180px;
  height: 200px;
  border-top: 5px solid var(--decoration-color);
  border-left: 5px solid var(--decoration-color);
}

.column {
  position: relative;
  bottom: 185px;
}

.corner-lines {
  position: sticky;
  left: 100%;
  width: 180px;
  border-top: 5px solid var(--decoration-color);
}

.headings {
  margin: -200px 0 0 150px;
  text-align: start;
}

.profile-pic {
  display: block;
  width: 35%;
  margin: -310px 0px 0px 800px;
  border-radius: 12px;
}

h1 {
  font-size: 80px;
  font-family: var(--primary-font-family);
  font-weight: bolder;
  line-height: 0;
  color: var(--secondary-font-color);
}

h2 {
  font-size: 190px;
  font-family: var(--primary-font-family);
  font-weight: bold;
  line-height: 200px;
  margin-bottom: 0;
  color: var(--primary-font-color);
}

ul li {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 60px;
  margin-top: 50px;
  border-top: 1px solid var(--decoration-color);
  color: red;
}

footer {
  font-family: "Suez One", serif;
  color: rgba(56, 81, 112, 0.6);
  margin-top: 20px;
}

footer a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.bottom-line {
  display: block;
  margin: 20px auto 0 auto;
  width: 180px;
  border-bottom: 5px solid var(--decoration-color);
}
