:root {
  --primary-font-family: "Alumni Sans", sans-serif;
  --primary-font-color: #142d4c;
  --secondary-font-color: #385170;
  --decoration-color: #9fd3c7;
}

body {
  background-color: #ececec;
}

.corner-frame {
  width: 180px;
  height: 200px;
  margin: 10px 0 0 10px;
  border-top: 5px solid var(--decoration-color);
  border-left: 5px solid var(--decoration-color);
}

.corner-lines {
  width: 180px;
  margin: 10px 10px 0 0;
  border-top: 5px solid var(--decoration-color);
}

.headings {
  margin: -200px 0 0 180px;
  text-align: start;
}

.profile-pic {
  display: block;
  width: 25%;
  margin: -140px 0px 0px 885px;
  border-radius: 12px;
}

h1 {
  font-size: 80px;
  font-family: var(--primary-font-family);
  font-weight: bolder;
  line-height: 0;
  margin-bottom: 0;
  color: var(--secondary-font-color);
}

h2 {
  font-size: 190px;
  font-family: var(--primary-font-family);
  font-weight: bold;
  line-height: 200px;
  margin-bottom: 0;
  color: var(--primary-font-color);
}

#navbarNav ul li {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 60px;
  margin-top: 50px;
  border-top: 1px solid var(--decoration-color);
  color: red;
}

.section-one,
.section-two,
.section-three {
  font-family: var(--primary-font-family);
}

.section-one {
  margin: -135px auto 80px auto;
}

.section-two {
  text-align: center;
  margin: 50px 0 0 80px;
}

.section-three {
  margin: 150px 30px 35px 30px;
}

.section-one h2,
.section-two h2,
.section-three h2 {
  font-size: 85px;
  line-height: 100px;
}

.section-one p,
.section-two p {
  font-size: 22px;
  font-weight: 500;
  color: var(--secondary-font-color);
}

.intro-pic {
  display: block;
  width: 28%;
  border-radius: 12px;
}

.card {
  color: var(--secondary-font-color);
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  border: 1px solid var(--decoration-color);
  border-radius: 10px;
}

footer {
  font-family: "Suez One", serif;
  color: rgba(56, 81, 112, 0.6);
  margin-top: 20px;
}

footer a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.bottom-line {
  display: block;
  margin: 20px auto 0 auto;
  width: 180px;
  border-bottom: 5px solid var(--decoration-color);
}

@media (max-width: 575.98px) {
  .corner-frame {
    width: 45px;
    height: 50px;
    border-top: 3px solid var(--decoration-color);
    border-left: 3px solid var(--decoration-color);
  }

  .corner-lines {
    width: 45px;
    border-top: 5px solid var(--decoration-color);
  }
  .profile-pic {
    display: none;
  }

  .headings {
    display: block;
    margin: -10px;
  }
  h1 {
    font-size: 40px;
    text-align: center;
    line-height: 30px;
  }

  h2 {
    font-size: 80px;
    line-height: 70px;
    text-align: center;
  }

  footer {
    font-size: 12px;
  }
}
