:root {
  --primary-font-family: "Alumni Sans", sans-serif;
  --primary-font-color: #142d4c;
  --secondary-font-color: #385170;
  --decoration-color: #9fd3c7;
}

body {
  background-color: #ececec;
}

.corner-frame {
  width: 180px;
  height: 200px;
  margin: 10px 0 0 10px;
  border-top: 5px solid var(--decoration-color);
  border-left: 5px solid var(--decoration-color);
}

.corner-lines {
  width: 180px;
  margin: 10px 10px 0 0;
  border-top: 5px solid var(--decoration-color);
}

.container {
  margin-bottom: 100px;
  max-height: 400px;
}

.container .card {
  max-width: 80%;
  position: relative;
  top: -60%;
  left: 100%;
  border-radius: 12px;
}

.container .card img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.text-overlay {
  width: 200%;
  position: relative;
  margin: -480px 60px 0;
  text-align: start;
}

h1 {
  font-size: 80px;
  font-family: var(--primary-font-family);
  font-weight: bolder;
  line-height: 1;
  margin: 0;
  color: var(--secondary-font-color);
}

h2 {
  font-size: 190px;
  font-family: var(--primary-font-family);
  font-weight: bold;
  line-height: 150px;
  margin: 0;
  color: var(--primary-font-color);
}

#navbarNav ul li {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 60px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  border-top: 1px solid var(--decoration-color);
  color: red;
}

.about-page {
  margin-top: -98px;
}

.section-one,
.section-two,
.section-three {
  font-family: var(--primary-font-family);
}

.section-one {
  margin: auto 50px;
}

.section-two {
  text-align: center;
  margin: 50px 0 0;
}

.section-three {
  margin: 75px 30px 35px 30px;
}

.section-one h2,
.section-two h2,
.section-three h2 {
  font-size: 85px;
  line-height: 100px;
}

.section-one p,
.section-two p {
  padding: 0 125px;
  font-size: 22px;
  font-weight: 500;
  color: var(--secondary-font-color);
}

.section-one img {
  width: 65%;
  border-radius: 12px;
}

.about-p .card {
  border-radius: 10px;
}

.work-page {
  margin-top: -115px;
}

.work-page h1 {
  color: var(--primary-font-color);
}

.work-page h2 {
  color: var(--secondary-font-color);
  font-size: 30px;
  line-height: 2;
}

.work-page img {
  display: block;
  margin: 0 auto 10px;
  border: 5px solid var(--decoration-color);
}

.contact-page {
  text-align: center;
  margin-top: 15px;
}

.contact-page h1 {
  font-size: 60px;
}

.email {
  font-family: var(--primary-font-family);
  font-size: 100px;
  font-weight: bold;
  color: var(--primary-font-color);
  text-decoration: none;
}

.email:hover {
  color: var(--secondary-font-color);
  text-decoration: underline;
  cursor: pointer;
}

footer {
  font-family: "Suez One", serif;
  color: rgba(56, 81, 112, 0.6);
  margin-top: 20px;
}

footer a {
  color: var(--primary-font-color);
  text-decoration: none;
}

.bottom-line {
  display: block;
  margin: 20px auto 0 auto;
  width: 180px;
  border-bottom: 5px solid var(--decoration-color);
}

/* For small screens (e.g., mobile phones) */
@media screen and (max-width: 575.98px) {
  .corner-frame {
    width: 45px;
    height: 50px;
    border-top: 3px solid var(--decoration-color);
    border-left: 3px solid var(--decoration-color);
  }

  .corner-lines {
    width: 45px;
    margin: -4px 5px 0 0;
    border-top: 3px solid var(--decoration-color);
  }

  .container .card,
  .container .card img {
    display: none;
  }

  .text-overlay {
    width: 100%;
    position: relative;
    margin: 0;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    line-height: 30px;
  }

  h2 {
    font-size: 80px;
    line-height: 70px;
    text-align: center;
  }

  .section-one {
    margin: 20px 25px;
  }

  .section-two {
    text-align: center;
    margin: 25px 0 0;
  }

  .section-three {
    margin: 25px 15px 28px 15px;
  }

  .section-one h2,
  .section-two h2,
  .section-three h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .section-one p,
  .section-two p {
    padding: 0 75px;
    font-size: 12px;
  }

  .section-one img {
    display: block;
    margin: 0 auto;
    width: 65%;
  }

  .work-page h1 {
    font-size: 40px;
    margin: 40px 70px 10px !important;
  }

  .contact-page {
    margin-top: 15px;
  }

  .contact-page h1 {
    font-size: 20px;
  }

  .email {
    font-size: 28px;
  }

  footer {
    font-size: 12px;
  }
}

/* For medium-sized screens (e.g., tablets) */
@media screen and (min-width: 576px) and (max-width: 1050px) {
  .corner-frame {
    width: 75px;
    height: 70px;
    border-top: 4px solid var(--decoration-color);
    border-left: 4px solid var(--decoration-color);
  }

  .corner-lines {
    width: 75px;
    border-top: 5px solid var(--decoration-color);
  }

  .container {
    margin-bottom: 50px;
    max-height: 80px;
  }

  .container .card {
    max-width: 65%;
    position: relative;
    top: -30%;
    left: 115%;
  }

  .container .card img {
    border-radius: 12px;
    width: 100%;
    height: auto;
  }

  .text-overlay {
    width: 150%;
    position: relative;
    margin: 0;
    bottom: 68%;
    left: 20%;
  }

  h1 {
    font-size: 40px;

    line-height: 30px;
  }

  h2 {
    font-size: 80px;
    line-height: 70px;
  }

  .section-one {
    margin: auto 35px;
  }

  .section-two {
    text-align: center;
    margin: 35px 0 0;
  }

  .section-three {
    margin: 35px 25px 32px 25px;
  }

  .section-one h2,
  .section-two h2,
  .section-three h2 {
    font-size: 60px;
    line-height: 70px;
  }

  .section-one p,
  .section-two p {
    padding: 0 85px;
    font-size: 18px;
  }

  .section-one img {
    display: block;
    margin: 0 auto;
    width: 65%;
  }

  .work-page h1 {
    font-size: 60px;
    margin: 40px 70px 10px !important;
  }

  .contact-page {
    margin-top: 15px;
  }

  .contact-page h1 {
    font-size: 40px;
  }

  .email {
    font-size: 60px;
  }

  footer {
    font-size: 15px;
  }
}
